@page
@model Ganaderia.App.Presentacion.Pages.RegisterModel
@{
}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    
     
    <div class="container">
        <form class="form-horizontal" role="form">

        <style> 
   
       body {
  background-color: lightblue;
}
     </style>
            <h3 align="center">Registro Ganadero </h3>
            <div class="form-group">
                <label for="nombres" class="col-sm-3 control-label">Nombres</label>
                <div class="col-sm-9">
                <input type="text" id="nombres"  width = "50%" placeholder="" class="form-control" autofocus>
                 <style>  input {
                     width: 50%;
                  }     
                </style>
                 
                </div>
            </div>
            <div class="form-group">
                <label for="apellidos" class="col-sm-3 control-label">Apellidos</label>
                <div class="col-sm-9">
                    <input type="text" id="apellidos" placeholder="" class="form-control" autofocus>
            </div>
            </div>
            <div class="form-group">
                <label for="apellidos" class="col-sm-3 control-label">Numero de Telefono</label>
                <div class="col-sm-9">
                    <input type="text" id="apellidos" placeholder="" class="form-control" autofocus>
            </div>
            </div>
            <div class="form-group">
                <label for="correo" class="col-sm-3 control-label">Correo* </label>
                <div class="col-sm-9">
                    <input type="correo" id="email" placeholder="" class="form-control" name="correo">
                </div>
            </div>
            <div class="form-group">
                <label for="contraseña" class="col-sm-3 control-label">Contraseña*</label>
                <div class="col-sm-9">
                    <input type="contraseña" id="contraseña" placeholder="" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="edadDate" class="col-sm-3 control-label">edad </label>
                <div class="col-sm-9">
                    <input type="" id="edad" placeholder="" class="form-control">
                </div>
            </div>
            
            <div class="form-group">
                <label for="latitud" class="col-sm-3 control-label">Latitud* </label>
                <div class="col-sm-9">
                    <input type="number" id="latitud" placeholder="Por favor escriba latitud Finca" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="longitud" class="col-sm-3 control-label">Longitud* </label>
                <div class="col-sm-9">
                    <input type="number" id="longitud" placeholder="Por favor escriba longitud Finca" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">Genero</label>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-4">
                            <label class="radio-inline">
                                        <input type="radio" id="femeninoRadio" value="Femenino">Femenino
                                    </label>
                        </div>
                        <div class="col-sm-4">
                            <label class="radio-inline">
                                        <input type="radio" id="masculinoRadio" value="Masculino">Masculino
                                    </label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.form-group -->
            <div class="form-group">
                <div class="col-sm-9 col-sm-offset-3">
                    <span class="help-block">*Campos requeridos</span>
                </div>
            </div>
            <button type="button" class="btn btn-success">Registrar</button>
        </form>
        <!-- /form -->
    </div>
    <!-- ./container -->