@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
<style>
body {
  background-color: lightblue;
}

</style>

</head>
<div class="p-3 mb-2 bg-success text-white">  </div>
<div class="text-center">
    <h1 class="display-4">Bienvenido a SICSA S.A. </h1>
     <h4 class="display-8">Sistema de Informacion y Control Animal </h4>

    <p>Aprender Sobre: <a href="https://docs.microsoft.com/aspnet/core">Control y salud para ganado con el sistema SICSA</a>.</p>
</div>
