@page
@model Ganaderia.App.Presentacion.Pages.RegistroEjemplarModel
@{
}
<link rel="stylesheet" href="/lib/bootstrap.min.css">
  <script src="/lib/jquery-1.12.2.min.js"></script>
  <script src="/lib/bootstrap.min.js"></script>


<div class="container" align="center" class="font-weight-bold">
  <h2 class="font-weight-bold">Registro General de Ganado</h2>
  <form  class="form-horizontal" role="form">
    <div class="form-group">
      <div class="col-sm-7">
        <input type="email" class="form-control" id="Fecha Ingreso Animal" placeholder="Ingrese Fecha de ingreso a la finca">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-7">          
        <input type="password" class="form-control" id="pwd" placeholder="Ingrese el peso en Kilos">
      </div>
    </div>
 <div class="form-group">
      <div class="col-sm-7">          
        <input type="password" class="form-control" id="pwd" placeholder="Ingrese la edad en meses">
      </div>
    </div>
 <div class="form-group">
      <div class="col-sm-7">          
        <input type="password" class="form-control" id="pwd" placeholder="Ingrese el nombre la finca">
      </div>
    </div>

  <fieldset>
      <div class="form-group">
        <label for="disabledSelect" class="col-sm-2 control-label"></label>
        <div class="col-sm-7">
          <select id="disabledSelect" class="form-control">
             <option disabledSelect>Seleccione un genero</option>
            <option class="table-danger">Hembra</option>
            <option class="table-primary">Macho</option>
          </select>
        </div>
      </div>
    </fieldset>
   
 <fieldset>
      <div class="form-group">
        <label for="disabledSelect" class="col-sm-2 control-label"></label>
        <div class="col-sm-7">
          <select id="disabledSelect" class="form-control">
             <option disabledSelect>Seleccione un tipo de ganado</option>
            <option >Bovino</option>
            <option>Porcino</option>
             <option >Equino</option>
              <option >Otro</option>
          </select>
        </div>
      </div>
    </fieldset>
 <div class="form-group">
      <div class="col-sm-7">          
        <input align="center" type="password" class="form-control" id="pwd" placeholder="Ingrese el tipo de raza">
      </div>
    </div>
   
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-5">
        <button  type="submit" class="btn btn-success">Registrar Ejemplar</button>
      </div>
    </div>
  </form>
</div>
